*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h4 {
    width: 100vw;
    height: 10rem;
    /* border: 1px solid red; */
}

.navbarCustom {
	margin: auto;
	background-color: #bdd6e7;
    color: white;
}

.nav-item{
    color: white;
}

.customContainer {
    width: '100%';
    margin: 5px;
}

.titleBar {
    margin-top: 90px;
    margin-bottom: 5px;
}

.titleText{
    color:rgb(48, 78, 117);
}